/* PC (1025px~1280px) */
@media all and (min-width:1025px) and (max-width:1280px){
  .visual {height: 71vh;}
  .visual .wave_wrap {height: 160px;}
  .visual .wave_wrap .wave {height: 135px;background-size:950px 85px;}
  .skills .skills_wrap>ul>li:nth-child(3), .skills .skills_wrap>ul>li:nth-child(4) {width: 40%;}
}

/* Tablet (768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1024px) {
  .visual {height: 71vh;}
  .visual .wave_wrap {height: 150px;}
  .visual .wave_wrap .wave {height: 125px;background-size:900px 70px;}
  .career .career_common{padding: 0 0 80px 200px;}
  .career .career_common:before {left: 109px;}
  .career .career_common:after {left: 104.5px;}
  .career .career_wrap:after {left: 103.4px;}
  .skills .skills_wrap>ul>li>ul>li {min-width: 70px;}
  
}

/* Mobile ( ~ 767px)*/
@media all and (max-width:767px) {
  body{font-size:8px}
  .visual {height: 65vh;}
  .visual .grass.pc,.visual .grass.mobile {display:none}
  .visual .grass.tablet{display:block}
  .visual .wave_wrap {height: 100px;}
  .visual .wave_wrap .wave {height: 75px;background-size:700px 50px;}
  .career .tit{padding:60px 0 20px 0;margin:60px 0 80px 0;font-size:38px}
  .career .tit:after{width:115px;}
  .career .career_common{padding:0 10px 50px 100px;}
  .career .career_common:before {left: 69px;}
  .career .career_common:after {left: 64.5px;}
  .career .career_wrap:after {left: 63.4px;}
  .career .career_wrap .stit:after{content:none}
  .skills .tit{font-size:38px;padding: 80px 0 10px 0; margin-bottom: 60px;}
  .skills>.tit:after{width:88px}
  .skills .skills_wrap>ul>li>ul>li:before {top: -30px;left: 25%;transform: scale(0.8);}
  .skills .skills_wrap>ul>li>ul>li {padding: 40px 20px 55px;min-width: 100px;}
  .skills .skills_wrap .tit {font-size: 28px;padding: 0 0 40px 0;}
}

@media all and (max-width:1024px) {
  .visual{padding-top:80px}
  .visual h2{width:500px;}
  .visual .arrow{bottom:7%}
  .skills .skills_wrap>ul>li:nth-child(3), .skills .skills_wrap>ul>li:nth-child(4) {width:100%;}
}

@media all and (max-width:900px) {
  .visual {height: 66vh;}
  .visual .arrow{bottom:0}
  .visual .wave_wrap {height: 130px;}
  .visual .wave_wrap .wave {height: 105px;background-size:800px 65px;}
  .visual .baloon:nth-of-type(3){left:83%;}
  .visual .baloon:nth-of-type(4){left:71%;}
  .visual .baloon:nth-of-type(5){left:65%;}
  .visual .baloon:nth-of-type(6){left:9%;}
  .visual .baloon:nth-of-type(7){left:20%;}
}

@media all and (max-width:700px) {
  header nav span a {padding: 20px 20px;}
  header nav{margin-right:20px}
  header .logo a img{margin:-15px 0 0 0px}
  .visual h2{max-width: 400px;font-size:64px}
  .visual .cloud_left{transform:scale(0.5);}
  .visual .cloud_right{transform:scale(0.7);}
}

@media all and (max-width:600px) {
  .visual h2 {width:80%}
  .career .career_wrap .stit{font-size:22px;}
  .career .career_wrap .date{font-size:20px;}
  .career .career_common{padding:0 10px 50px 60px;}
  .career .career_common:before {left: 29px;}
  .career .career_common:after {left: 24.5px;}
  .career .career_wrap:after {left: 23.4px;}
  .career .career_wrap ul li{line-height: 26px;}
  .visual .cloud_right{right:0%;top:53%}
  .visual .cloud_left{left:-5%;top:44%}
}

@media all and (max-width:500px) {
  header nav span a{font-size:20px}
  header {height: 100px;line-height: 100px;}
  .visual h2{font-size:42px;line-height:50px}
}

@media all and (max-width:420px) {
  .skills .skills_wrap{padding-bottom:0}
}

@media all and (max-width:400px) {
  header nav span a{font-size:15px}
  .visual .grass.pc,.visual .grass.tablet {display:none}
  .visual .grass.mobile{display:block}
  footer{font-size:14px}
}

@media all and (max-width:350px) {
  body{min-width:350px}
}
